* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.main-wrapper {
    width: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
/*End Comon Section*/


nav {
    width: 80%;
    margin-left: 10%;
    display: flex;
    position: fixed;
    background: linear-gradient(#fff, #ccc);
    border-radius: 20px;
    z-index: 100;
}
nav ul {
    margin: auto;
    padding: 8px 0;
}
nav ul li {
    display: inline;
}
nav ul li a {
    font-size: 100%;
    margin-left: 5px;
    padding: 2px 15px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(#eee, #aaa);
    transition: background .2s, color .2s;
}
nav ul li a:hover {
    background: linear-gradient(#fff, #ccc);
    color: #777;
}
nav ul li#drop {
    position: relative;
}
nav ul li ul#dropdown {
    display: none;
    position: absolute;
    left: -60px;
    top: 20px;
    width: 200%;
    text-align: center;
}
nav ul li ul#dropdown li {
    display: block;
    padding: 3px;
}
nav ul li ul#dropdown li a {
    background: linear-gradient(#fff, #eee);
    color: #555;
    border: none;
}
nav ul li ul#dropdown li a:hover {
    background: linear-gradient(#eee, #aaa);
    color: #fff;
}
nav ul li#drop:hover #dropdown {
    display: block;
}
nav ul li a#active {
    background: linear-gradient(#9ad3de, #47909a);
}
/*End Nav Section*/

div.slider {
    width: 80%;
    margin: auto;
    position: relative;
    top: 40px;
    overflow: hidden;
    border-radius: 20px;
    z-index: -1;
}

div.slider section {
    position: relative;
    left: 0;
    width: 500%;
    margin: 0;
    animation: 50s slideshow infinite;
}

div.slider section div {
    width: 20%;
    float: left;
}

div.slider section div img {
    width: 100%;
}

@keyframes slideshow {
    0% {left: 0%;}
    10% {left: 0%;}
    12% {left: -100%;}
    22% {left: -100%;}
    24% {left: -200%;}
    34% {left: -200%;}
    36% {left: -300%;}
    46% {left: -300%;}
    48% {left: -400%;}
    58% {left: -400%;}
    60% {left: -300%;}
    70% {left: -300%;}
    72% {left: -200%;}
    82% {left: -200%;}
    84% {left: -100%;}
    94% {left: -100%;}
    96% {left: 0%;}
}
/*End Slideshow*/






























































































































































































































































































































































