* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.main-wrapper {
    width: 100%;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* End Common Style */
form {
    box-sizing: border-box;
    display: none;
    position: fixed;
    top: 30%;
    left: 32.5%;
    width: 35%;
    height: auto;
    padding: 20px 40px;
    background: linear-gradient(#888, #ccc);
    border: 1px solid #777;
    border-radius: 5px;
    z-index: 1000;
    animation: fade-in 1s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
form input {
    display: block;
    width: 90%;
    margin: 0 0 15px 3%;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 100%;
}
form input[type="submit"] {
    background: #78b1bc;
    color: #fff;
    width: 30%;
    max-width: 150px;
    transition: background .2s;
}
form input[type="submit"]:hover {
    background: #9ad3de;
    cursor: pointer;
}
form label#close {
    font-size: 250%;
    color: #ccc;
    position: absolute;
    top: 0;
    right: 15px;
}
form label#close:hover {
    color: #222;
}
form label {
    margin-left: 3%;
    font-weight: 400;
    color: #fff;
}
input#registration:checked ~ form#register {
    display: block;
}
input#registration:checked ~ .main-wrapper {
    user-select: none;
    opacity: .3;
    pointer-events: none;
}
input#login:checked ~ form#sign-in {
    display: block;
}
input#login:checked ~ .main-wrapper {
    user-select: none;
    opacity: .3;
    pointer-events: none;
}

label i.fa-bars {
    display: none;
}

nav {
    width: 80%;
    margin-left: 10%;
    display: flex;
    position: fixed;
    background: linear-gradient(#fff, #ccc);
    border-radius: 20px;
    z-index: 100;
}
nav ul {
    margin: auto;
    padding: 8px 0;
}
nav ul li {
    display: inline;
}
nav ul li a {
    font-size: 100%;
    margin-left: 5px;
    padding: 2px 15px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(#eee, #aaa);
    transition: background .2s, color .2s;
}
nav ul li a:hover {
    background: linear-gradient(#fff, #ccc);
    color: #777;
}
nav ul li#drop {
    position: relative;
}
nav ul li ul#dropdown {
    display: none;
    position: absolute;
    left: -60px;
    top: 20px;
    width: 200%;
    text-align: center;
}
nav ul li ul#dropdown li {
    display: block;
    padding: 3px;
}
nav ul li ul#dropdown li a {
    background: linear-gradient(#fff, #eee);
    color: #555;
    border: none;
}
nav ul li ul#dropdown li a:hover {
    background: linear-gradient(#eee, #aaa);
    color: #fff;
}
nav ul li#drop:hover #dropdown {
    display: block;
}
nav ul li a#active {
    background: linear-gradient(#9ad3de, #47909a);
}
/* End Navigation */
div.slider {
    width: 80%;
    margin: auto;
    position: relative;
    top: 40px;
    overflow: hidden;
    border-radius: 20px;
    z-index: -1;
}
div.slider section {
    position: relative;
    left: 0;
    width: 500%;
    margin: 0;
    animation: 50s slideshow infinite;
}
div.slider section div {
    width: 20%;
    float: left;
}
div.slider section div img {
    width: 100%;
}
@keyframes slideshow {
    0% {left: 0%;}
    
    10% {left: 0%;}
    
    12% {left: -100%;}
    
    22% {left: -100%;}
    
    24% {left: -200%;}
    
    34% {left: -200%;}
    
    36% {left: -300%;}
    
    46% {left: -300%;}
    
    48% {left: -400%;}
    
    58% {left: -400%;}
    
    60% {left: -300%;}
    
    70% {left: -300%;}
    
    72% {left: -200%;}
    
    82% {left: -200%;}
    
    84% {left: -100%;}
    
    94% {left: -100%;}
    
    96% {left: 0%;}
}
/* End Slideshow */
section.card-section {
    width: 80%;
    margin: 60px auto 20px auto;
    display: flex;
}
section.card-section div.card {
    position: relative;
    width: 31.3333%;
    margin: auto;
    min-height: 300px;
}
section.card-section div.card div.front {
    position: absolute;
    width: 100%;
    min-height: 300px;
    background: #aaa;
    border-radius: 20px;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    perspective: 800px;
    transition: transform .4s;
}
section.card-section div.card div.back {
    box-sizing: border-box;
    padding: 60px 5px;
    background: #ccc;
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    perspective: 800px;
    position: absolute;
    transition: transform .4s;
}
section.card-section div.card div.back h2 {
    padding: 5px;
    margin-bottom: 5px;
    background: #bbb;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}
section.card-section div.card div.back p {
    padding: 5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
#front1 {
    background: #ccc url(img/HTML5.png) no-repeat center;
}
#front2 {
    background: #ccc url(img/CSS.png) no-repeat center;
}
#front3 {
    background: #ccc url(img/js.png) no-repeat center;
}
section.card-section div.card:hover div.front {
    transform: perspective(600px) rotateY(-180deg);
}
section.card-section div.card:hover div.back {
    transform: perspective(600px) rotateY(0deg);
}
/* End Cards section */
section.dev-section {
    display: flex;
    width: 80%;
    margin: auto;
}
section.dev-section div.container {
    position: relative;
    width: 31.3333%;
    margin: auto;
}
section.dev-section div.container img {
    width: 100%;
    opacity: .7;
    display: block;
    height: auto;
    transition: opacity .5s;
}
section.dev-section div.container div.middle {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 60%;
    opacity: 0;
    transition: opacity .5s;
}
section.dev-section div.container div.middle div.text {
    padding: 16px 32px;
    background: #47909a;
    border-radius: 20px;
    font-size: 100%;
    text-align: center;
}
section.dev-section div.container div.middle div.text h3 {
    color: #fff;
}
section.dev-section div.container div.middle div.text p {
    color: #ccc;
}
section div.container:hover img {
    opacity: .2;
}
section div.container:hover div.middle {
    opacity: 1;
}
/* End Developers Section */

section.social-icons ul li a i span {
    margin-left: 20%;
}

section.social-icons ul li a i.fa {
    position: fixed;
    right: -13%;
    width: 15%;
    padding: 20px;
    color: #fff;
    border-radius: 10px 0 0 10px;
    box-shadow: 2px 5px 5px #888;
    font-size: 130%;
    z-index: 1000;
    transition: right .8s, box-shadow .8s;
}
section.social-icons ul li a i.fa-google-plus {
    top: 30%;
    background: #d34836;
}
section.social-icons ul li a i.fa-facebook {
    top: 40%;
    background: #3b5998;
}
section.social-icons ul li a i.fa-twitter {
    top: 50%;
    background: #4099ff;
}
section.social-icons ul li a i.fa:hover {
    right: -5%;
    box-shadow: none;
}
/* End Social Media Section */

footer {
    padding: 1% 0;
    margin-top: 20px;
    width: 100%;
    background: linear-gradient(#555, #888);
}
footer p {
    text-align: center;
    margin: auto;
    color: #aaa;
    font-size: 130%;
}
/* End footer */
